body {
    width:960px;
    box-sizing: border-box;
    margin:0 auto;
    background-image: url("/assets/images/congruent_outline.png")

}

header {
    font-family: 'Georgia', Times, 'Times New Roman', serif;;
    background-color:#ffffff;
    padding-bottom: 0px;
    border-bottom: solid 1px #cccccc;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

#name { 
    float: left;
    color: #ffffff;
    background-color: #4aaaa5;
    margin: 0px 10px 0px 0px;
    padding:15px
}

.links {
    position: relative;
    bottom: -25px;
    color: #777777;
    float: right;
    margin
    
    
}

header ul {
    Margin:0;
    padding:0;
    list-style: none;
    
}

header li {
    display:inline-block;
}

.border {
    border-right:solid;
    margin-right: 10px;
    padding-right: 10px;
}

#container {
    position: absolute;
    top: 80px;
    width: 960px;
    border: solid 1px #cccccc;
    padding:25px;
    box-sizing: border-box;
    background-color:grey;
    
}

h1 {
    margin: 25px;
    color: #4aaaa5;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

#content {
    margin: 0 auto;
    color: #777777;

}

.p {
    line-height: 200%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: justify;
}

img {
    float: left;
    margin: 0px 25px 25px 25px;
}

input {
    width:100%;
}
textarea {
    width:100%
}

.projects {
    width: 250px;
    height: 175px;
    margin: 10px;
    background-color: green
}




